.suggestions {
  margin-top: 1.25em;
  z-index: -1;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(174, 173, 173);
  margin-bottom: 1.25em;
  z-index: -1;

}

.profile_icons {
  display: flex;
  flex-direction: column;
}

a {
  width: 100%;
  margin-left: 6vw;
  color: rgb(24, 168, 225);
  text-decoration: none;
  font-weight: bold;
}


.title1 {
  color: black;
  font-weight: bold;
  min-width: 200px;
  margin-bottom: 2vh;
}